#openHeader{
  font-size: 22pt;
  font-family: 'charregular';
  color: #2C3238;

}


#openP{
  font-family: 'charthin';
  margin-top: 20px;
  line-height: 16pt;
  max-width: 525px;
}

#zach-link{
  font-family: 'charregular';
}

.new-header-c{
  align-self: flex-start;
  margin-bottom: 50px;
}

#new-header{
  font-family: 'neue-haas-grotesk-display';
  color: white;
  font-size: 40pt;
  letter-spacing: -1pt;
  font-weight: 500;
}


#new-sub-header{
  font-family: 'neue-haas-grotesk-display';
  color: white;
  font-size: 12pt;
  font-weight: 300;
  margin-top: 10px;
}
