#openHeader{
  font-size: 22pt;
  font-family: 'charregular';
  color: #2C3238;

}


#openP{
  font-family: 'charthin';
  margin-top: 20px;
  line-height: 16pt;
  max-width: 525px;
}

#zach-link{
  font-family: 'charregular';

}
