@import url("https://use.typekit.net/hxn1svh.css");


html {
     box-sizing: border-box;
   }

   *, *::before, *::after {
     box-sizing: inherit;
     padding: 0;
     margin: 0;
   }

   .app {
     width: 960px;
     margin: 0 auto;
     padding: 20px;
   }

   nav ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     margin-bottom: 0px;
     z-index: 1000000000000000;

   }

   nav ul li {
     color: black;
   }

   nav ul li a {
     color: black;
     text-decoration: none;
     font-family: 'neue-haas-grotesk-display';
     font-weight: 300;
     margin-left: 0px;
     letter-spacing: .2pt;

   }

   .menu{
     display: flex;
     flex-direction: column;
   }

   .current {
     border-bottom: 4px solid blue;
   }

   h1 {
     margin-bottom: 20px;
   }

   p {
     margin-bottom: 15px;
   }

   .navContainer{
     position: fixed; top: 35px; right: 60px; border: 0;
     z-index: 1000000000000000000000000000;
     transform: translateZ(900px);

   }

   .asdf{
     width: 40px;
     height: 40px;
     border-radius: 40px
   }


   .close{
     background-color: blue;
     width: 100px;
     height: 100px;
   }

   a:visited{
     color: white !important;
   }

   a{
     color: white !important;
   }
