  *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: inherit;
    }

    .total-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-wrapper{
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      flex-direction: row-reverse;
      overflow: hidden !important;
      max-width: 1500px;
    }

    /******PROFILE IMG***********/
    .profile-img-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 826px;
      width: 600px;
      margin-top: 75px;
      padding-left: 70px;

    }

    .three-container{
      z-index: -1;
      position: relative;
      width: 480px;
      height: 825px;
    }

    #profile-img-2{
      position: absolute;
      width: 415px;
      margin-top: 5px;
      transition: .5s ease;
      opacity: 1;
    }

    #hover-header{
      color: white;
      opacity: 1;
      font-family: 'neue-haas-grotesk-display';
      font-weight: 500;
      text-align: center;
      position: relative;
      bottom: 30px;
      font-size: 12pt;
    }

    .profile-img-container:hover .middle{
      opacity: 1;
    }

    .middle{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      display: block;
      width: 450px;
      margin-left: 5px;
      margin-top: 27px;
      height: 800px;
    }

    #bio-header-sub{
      color: white;
      font-family: 'neue-haas-grotesk-display';
      font-weight: 500;
      margin-bottom: -10px;
      font-size: 30pt;
    }

    #bio-paragraph-2{
      font-family: 'neue-haas-grotesk-display';
      font-weight: 300;
      color: white;
      max-width: 625px;
      font-size: 12pt;
      line-height: 22pt;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .profile-img-container:hover #profile-img-2{
      opacity: .1;
    }



    /******BIO SIDE***********/
    .bio-container{
      padding-left: 75px;
      padding-right: 100px;
    }

    #bio-paragraph{
      font-family: 'neue-haas-grotesk-display';
      font-weight: 300;
      color: rgba(255,255,255,1);
      max-width: 600px;
      font-size: 12pt;
      letter-spacing: .4pt;
      line-height: 16pt;
      margin-top: 30px;
    }

    #bio-header{
      font-family: 'neue-haas-grotesk-display';
      color: rgba(255,255,255,1);
      font-weight: 600;
      font-size: 30pt;
      line-height: 40pt;
      max-width: 600px;
      letter-spacing: .2px;
    }





    .fade-enter {
      opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }

    .fade-leave {
      opacity: 1;
    }

    .fade-leave.fade-leave-active {
      opacity: 0.01;
      transition: opacity 500ms ease-in;
    }


    /********SKILLS************/

    li{
      text-decoration: none;
      list-style-type: none;
    }


    @media  screen and (max-width: 500px) {
      .bio-container{
        display: flex;
        flex-direction:column;
        align-items: flex-start !important;
        justify-content: flex-start;
        max-width: 1600px !important;
        padding-left: 30px;
padding-right: 30px;
      }
      .profile-img-container{
        height: 100% !important;
        margin-top: 100px !important;
        margin-bottom: 50px !important;
      }
      #bio-paragraph{
        max-width: 1000px !important;
        padding: 0;
      }

      .three-container{
        z-index: -1;
        width: 300px;
        height: 600px;
      }

      #profile-img-2{
        width: 290px;
      }

      #bio-header{
        font-size: 24pt;
        line-height: 24pt;
        max-width: 500px !important;
      }

      #hover-header{
        display: none;
      }

      .middle{
        display: none;
      }


    }

    @media  screen and (min-width: 500px) and (max-width: 650px) {
      .bio-container{
        width: 100% !important;
      }

      .three-container{
        z-index: -1;
        position: absolute;
        padding-bottom: 200px;
        width: 400px;
        height: 800px;
      }

      #profile-img-2{
        width: 60%;
        transition: .5s ease;
        opacity: 1;
      }

      .profile-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 500px;
        margin-top: 25px;
        margin-bottom: -50px;
        cursor: pointer;
        align-items: center;
      }
      .middle{
        width: 375px;
        margin-left: 0px;
        margin-top: 25px;
        height: 600px;
      }

      #hover-header{
        bottom: 0 !important;
        position: relative;
      }
    }

    @media  screen and (max-width: 1000px) {
      .about-wrapper{
        flex-direction: column-reverse !important;
        align-items: center;
        margin-left: 0px !important;
      }

      .profile-img-container{
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 500px;
        margin-top: 125px;
        margin-left: -70px;
        margin-bottom: 25px;
      }
  }
