  *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: inherit;
    }

    .total-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-wrapper{
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      flex-direction: row-reverse;
      overflow: hidden !important;
      max-width: 1500px;
    }

    /******PROFILE IMG***********/
    .profile-img-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 826px;
      width: 600px;
      margin-top: 75px;

    }

    .three-container{
      z-index: -1;
      position: absolute;
      width: 525px;
      height: 825px;
    }

    #profile-img-2{
      width: 415px;
      margin-top: 5px;
      transition: .5s ease;
      opacity: 1;
    }

    #hover-header{
      color: white;
      opacity: 1;
      font-family: 'neue-haas-grotesk-display';
      font-weight: 500;
      text-align: center;
      position: absolute;
      bottom: 62px;
      font-size: 12pt;
    }

    .profile-img-container:hover .middle{
      opacity: 1;
    }

    .middle{
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      display: block;
      width: 450px;
      margin-left: 5px;
      margin-top: 27px;
      height: 800px;
    }

    #bio-header-sub{
      color: white;
      font-family: 'neue-haas-grotesk-display';
      font-weight: 500;
      margin-bottom: -10px;
      font-size: 30pt;
    }

    #bio-paragraph-2{
      font-family: 'neue-haas-grotesk-display';
      font-weight: 300;
      color: white;
      max-width: 625px;
      font-size: 12pt;
      line-height: 22pt;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .profile-img-container:hover #profile-img-2{
      opacity: .1;
    }



    /******BIO SIDE***********/
    .bio-container{
      padding-left: 100px;
    }

    #bio-paragraph{
      font-family: 'neue-haas-grotesk-display';
      font-weight: 300;
      color: rgba(190,190,190,1);
      max-width: 600px;
      font-size: 12pt;
      letter-spacing: .4pt;
      line-height: 16pt;
      margin-top: 30px;
    }

    #bio-header{
      font-family: 'neue-haas-grotesk-display';
      color: rgba(220,200,200,1);
      font-weight: 600;
      font-size: 30pt;
      line-height: 40pt;
      max-width: 600px;
      letter-spacing: .2px;
    }





    .fade-enter {
      opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }

    .fade-leave {
      opacity: 1;
    }

    .fade-leave.fade-leave-active {
      opacity: 0.01;
      transition: opacity 500ms ease-in;
    }


    /********SKILLS************/

    li{
      text-decoration: none;
      list-style-type: none;
    }

    @media screen and (max-width: 425px) {
      .profile-img-container{
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 500px;
        margin-top: 0px !important;
        margin-right: 0px;
        margin-bottom: -50px !important;
      }

      .bio-container{
        margin-bottom: -100px;
      }

      .three-container{
        padding-bottom: -1000px;

      }
    }

    @media  screen and (min-width: 425px) and (max-width: 495px) {
      .right-side{
        width: 90vw !important;
      }

      .button-container{
          position: relative;
          padding-bottom: 50px;
          margin-top: 60px;
      }

      #about-h1{
        font-size: 18pt !important;
      }

      .image-container-2{
        margin-bottom: 50px;
      }

      #me-img-2{
        margin-left : 0px !important;
        height: 60vh !important;
        margin-bottom: 100px;
      }
    }

    @media  screen and (max-width: 650px) {
      .three-container{
        z-index: -1;
        position: absolute;
        padding-bottom: 100px;
        width: 400px;
        height: 600px;
      }

      #profile-img-2{
        width: 60%;
        transition: .5s ease;
        opacity: 1;
      }

      .profile-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 500px;
        margin-top: 25px;
        margin-bottom: -50px;
        cursor: pointer;
        align-items: center;
      }
      .middle{
        width: 375px;
        margin-left: 0px;
        margin-top: 25px;
        height: 600px;
      }

      #hover-header{
        text-align: center;
        margin-right: 0px;
      }
    }

    @media  screen and (max-width: 1000px) {
      .about-wrapper{
        flex-direction: column-reverse !important;
        align-items: center;
        margin-left: 0px !important;
      }

      .profile-img-container{
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 500px;
        margin-top: 75px;
        margin-right: 0px;
        margin-bottom: 25px;
      }
  }
