.outer-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.ibm-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55%;
  margin-top: 190px;
  align-items: flex-start;
}

.title-container{
  margin-bottom: 125px;
}

.line{
  width: 40px;
  height: 47px;
  border-bottom: 2.3px solid white;
  position: absolute;
}

#ibm-h1{
  font-family: 'neue-haas-grotesk-display';
  font-weight: 600;
  color: white;
  font-size: 48pt;
  white-space: nowrap;
}

#ibm-h2{
  color: white;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 500;
  font-size: 16pt;
  margin-top: -10px;
}

#ibm-h2-sub{
  color: white;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 300;
  font-size: 12pt;
  margin-top: 10px;
}

.problem{
  height: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 50px;
}

#ibm-h3{
  font-family: 'neue-haas-grotesk-display';
  font-weight: 600;
  color: white;
  font-size: 16pt;
  margin-bottom: 25px;
}

#ibm-p{
  font-family: 'neue-haas-grotesk-display';

  color: white;
  font-weight: 300;
}

.user-type{
  height: 100%;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
  margin-bottom: 70px;

}

#ibm-ul li {
  list-style: none;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 300;
  color: white;
}

#ibm-ul li:before{
  list-style-position: inside;
  content: "\2022";
  width: 1em;
  display: inline-block;
}

.persona{
  margin-bottom: 75px;
}

.research-1{
  margin-bottom: 75px;
}

#enterprise-h{
  color: white;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 500;
  margin-bottom: 25px;
}

#enterprise-h-2{
  color: white;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 600;

  margin-top: 30px;
  margin-bottom: 25px;

}

.sketches{
  margin-bottom: 75px;
}

a.proto-button{
  margin-top: 75px;
  margin-bottom: 75px;

  font-family: 'pangram-regular';
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 40px;
  border-radius: 1.5px;
  border-style: solid;
  border-width: 1.2px;
  transition: .3s ease;
}

a.proto-button:hover{
  background-color: black;

}

.conclusion{
  margin-bottom: 75px;
}
@media screen and (max-width: 425px){
  #ibm-h1{
    font-size: 26pt !important;
  }

}
@media screen and (max-width: 750px){
  #ibm-h1{
    font-size: 32pt;
    white-space: wrap;
    line-height: 26pt;
  }

  .ibm-wrapper{
    width: 90%;
    margin-top: 225px;
  }
  .title-container{
    margin-bottom: 125px !important;
  }
}
