@font-face {
    font-family: 'charblack';
    src: url('../../char/charlevoixpro-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charbold';
    src: url('../../char/charlevoixpro-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charregular';
    src: url('../../char/charlevoixpro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'charthin';
    src: url('../../char/CharlevoixPro-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.Tilt{
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: -100000000;

}
.tilt-container{
}

.Tilt-inner{
  transform: translateZ(50px);
  transform-style: preserve-3d;
  z-index: 10000;
  margin-top: 100px !important;

  position: absolute !important;
}

.title-container{
 margin-right: 350px !important;


}
body{
  /* background-color: #0D0D0F; */
  background-color: rgba(14,14,15,100);
  overflow-x: hidden;
}

#home-img{
  width: 70%;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.header-container{
  margin-top: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#home-video{
  width: 40%;
  margin-left: 100px;
}





.homeH1{
  color: rgba(220,200,200,.95);
  font-size: 60pt;
  font-family: 'pangram-black';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  max-width: 700px;
  line-height: 54pt;
}

.homeH2{
  color: white;
  font-size: 14pt;
  font-family: 'charthin';
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  margin-top: 2px;
}



video::-webkit-media-controls {
  display: none;
}

@media  screen and (max-width: 500px) {
  .homeH1{
    font-size: 32pt;
    line-height: 32pt;
    max-width: 350px;

  }
  #home-img{
    width: 100%;
  }
  .homeH2{
    font-size: 12pt;
  }

  .Tilt-inner{
  }
  .title-container{
   margin-right: 0px !important;
   margin-bottom: 120% !important;
  }
}

@media  screen and (max-width: 600px) {
  .Tilt{
    /* display: none; */
    transform-style:  none !important;
    position: relative;

  }

  .tilt-container{
    z-index: -1000000000;
  }

  .Tilt-inner{
    transform-style:  none !important;
    position: relative;
    z-index: -1000000000;
  }
}


@media  screen and (min-width: 600px) and (max-width: 850px) {
  .homeH1{
    font-size: 46pt;
    line-height: 40pt;
    max-width: 450px;
  }
  .title-container{
   margin-right: 0px !important;
  }


}

@media  screen and (min-width: 850px) and (max-width: 1250px) {
  .homeH1{
    font-size: 52pt;
    max-width: 600px;
  }
  .title-container{
   margin-right: 100px !important;
  }
}

@media  screen and (min-width: 1800px) {

  #home-img{
    width: 50%;
  }
}
