@font-face {
    font-family: 'charblack';
    src: url('../../char/charlevoixpro-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charbold';
    src: url('../../char/charlevoixpro-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charregular';
    src: url('../../char/charlevoixpro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'charthin';
    src: url('../../char/CharlevoixPro-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body{
  background-color: #1F1E20;
}
.shade {
  position: absolute;
  background: rgba(0, 299, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-container{
  position: absolute;
  left: 80px;
  top: 140px;
}

.homeH1{
  color: rgba(220,200,200,.9);
  font-size: 60pt;
  font-family: 'pangram-black';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.homeH2{
  color: white;
  font-size: 16pt;
  font-family: 'charthin';
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  margin-top: 2px;
}

/*
.vidContainer{
  width: 650px;
 position: relative;
 top: 55%;
 left: 50%;
 margin-left: -25px;
 -ms-transform: translateX(-50%) translateY(-50%);
 -webkit-transform: translate(-50%,-50%);
 transform: translate(-50%,-50%);
}*/

.vidContainer{
  width: 600px;
  margin-left: -10px;
  position: fixed;
  margin-top: 380px;

  z-index: -100;


}


#home-video{
  width: 100%;
}

video::-webkit-media-controls {
  display: none;
}


.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 6000ms ease-in;
}

.example2-appear {
  opacity: 0.01;
}

.example2-appear.example2-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example3-appear {
  opacity: 0.01;
}

.example3-appear.example3-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

@media screen and (max-width: 450px){
  .header-container{
    position: absolute;
    left: 20px !important;
    top: 150px;
  }


}

@media screen and (min-width: 400px) and (max-width: 650px){
  .vidContainer{
    width: 350px;
    margin-top: 450px;
    margin-left: 25px;
  }
}
