.contactH1{
  font-family: 'neue-haas-grotesk-display';
  font-weight: 600;
color: white;
  font-size: 48pt;
  margin-top: 85px;
}


.contact-container{
  float: left;
  padding: 50px;
}

#contact-video{
  width: 350px;
}

.list-container{
color: white;
  font-family: 'neue-haas-grotesk-display';
  margin-top: 50%;
}

a:visited{
}

#contact-a{
  margin-bottom:  100px !important;
  font-size: 20pt !important;

}


a.contact-a{
  font-size: 20pt !important;
}

#new-ul{
  font-size: 12pt !important;
}

#contactlist{
  margin-bottom: 10px;
}


@media screen and (max-width: 450px){
  .contact-container{
    margin-top: 70px;
    padding: 15px;
  }

  #contact-video{
    width: 335px;
    margin-left: 0px;
  }

  #new-ul{
    font-size: 16pt !important;
  }
  #contactlist{
    margin-bottom: 20px;
  }

}
