#home-video-2{
  width: 50%;
  margin-bottom: 45px;
}

#ios-h{
  margin-bottom: 25px;
}


#work-sub-header-2{
  color: white;
  font-family: 'pangram-extralight';
  font-weight: 900;
  margin-top: 25px;
  margin-left: 5px;
  margin-bottom: 25px;
}
