.body-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-inner-wrapper{
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
ReactPlayer{
  width: 100px;
}
#react-player{
  width: 100px;
}
.body-video-container{
  margin-top: 75px;
  align-self: center;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.body-blurb-container{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.body-blurb-left{
  padding-left: 25px;
  margin-bottom: 25px;
}

.body-blurb-right{
  padding-right: 25px;

}
#body-paragraph{
  max-width: 700px;
  font-size: 12pt;
  margin-left: 100px;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 300;
  letter-spacing: .5pt;
}
#body-title{
  font-size: 60pt;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 500;


}
