.work-wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
}

.work-sub-wrapper{
  display: flex;
  flex-direction: row;
  width: 1600px;
}

/**LEFT WRAPPER**/
.work-left-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding-left: 100px;
}

#work-header{
  font-family: 'neue-haas-grotesk-display';
  font-weight: 600;
  color: white;
  font-size: 50px;
}

#work-sub-header{
  max-width: 525px;
  font-family: 'neue-haas-grotesk-display';
  font-weight: 200;
  letter-spacing: .5pt;
  font-size: 18px;
  margin-top: -5px;
}

/**RIGHT WRAPPER**/
.work-right-wrapper{
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.route-box{
  text-decoration: none;
  text-align: right;
  margin-top: 25px;
}

a{
  text-decoration: none;
}

.work-list{
  font-family: 'neue-haas-grotesk-display';
  font-weight: 400;
  font-size: 62pt;
  margin-bottom: -24px;
  transition: .15s ease-in-out;
}

.work-list:hover{
  color: rgba(240,50,0,1) !important;
}

a:visited{
  color: white !important;
}

@media screen and (max-width: 475px){
  .work-list{
    font-family: 'neue-haas-grotesk-display';
    font-weight: 400;
    font-size: 32pt !important;
    margin-bottom: 0px !important;
    transition: .15s ease-in-out;
  }
}


@media screen and (max-width: 900px){
  .work-title-container{
    margin-top: 100px;
    width: 100%;
  }
  .work-list{
    font-family: 'neue-haas-grotesk-display';
    font-weight: 400;
    font-size: 56pt;
    margin-bottom: -28px;
    transition: .15s ease-in-out;
  }
  .work-left-wrapper{
    width: 80% !important;
  }
  .work-sub-wrapper{
    flex-direction: column;
  }
  .work-right-wrapper{
    padding-left: 40px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .route-box{
    text-decoration: none;
    text-align: left !important;
    margin-top: 25px;
  }
}
@media screen and (max-width: 1100px){
  .work-list{

    font-size: 50pt;
    margin-bottom: -26px;
  }

  .work-left-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding-left: 40px;
  }

  .work-right-wrapper{
    padding-right: 25px;
  }


}
@media screen and (max-height: 899px){

}
